<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>회원가입 인증</title>
</head>
<body style="margin: 0; padding: 0; background-color: #F6F6F6; font-family: 'Pretendard', sans-serif;">
<table border="0" cellpadding="0" cellspacing="0" role="presentation" style="max-width: 1000px; margin-left: auto; margin-right: auto;"
       width="100%">
    <tr>
        <td style="background-image: url('https://cdn.madii.kr/email_background_header.png'); background-size: cover; height: 258px; border-radius: 14px 14px 0 0;">
            <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                <tr>
                    <td align="right" style="padding: 168px 40px 40px;">
                        <span style="color: white; font-family: 'Pretendard', sans-serif; font-weight: 700; font-size: 16px;">
                            바쁜 일상 속 나만의 일시정지 버튼
                        </span>
                        <img alt="MADII" height="53" src="https://cdn.madii.kr/madii_logo_text.png" style="display: block; margin-top: 18px;"
                             width="379.34">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="background-color: white; padding: 24px 60px 24px; text-align: left;">
            <h1 style="color: black; font-size: 28px; font-weight: 700; margin-top: 27px; margin-bottom: 50px;">
                회원가입을 진심으로 환영합니다!
            </h1>
            <p style="color: black; font-size: 16px; font-weight: 500; margin-top: 0; margin-bottom: 50px; line-height: 29px">
                안녕하세요. 마디입니다.<br>
                아래의 인증코드 6자리를 입력하여 회원가입을 완료해주세요.<br>
                만약 해당 이메일로 가입을 시도한 적이 없다면 madii.service.cs@gmail.com로 문의바랍니다.
            </p>
            <p style="color: black; font-size: 42px; font-weight: 600; line-height: 63px;" th:text="${code}">
                123456 <!-- 동적으로 생성된 코드 -->
            </p>
        </td>
    </tr>
    <tr>
        <td style="background-image: url('https://cdn.madii.kr/email_background_footer.png'); background-size: cover; height: 120px; border-radius: 0 0 14px 14px;">
            <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                <tr>
                    <td style="padding: 43px 0 0 40px;">
                        <span style="color: white; font-family: 'Pretendard', sans-serif; font-weight: 500; font-size: 16px;">
                            @ 마디
                        </span>
                    </td>
                    <td align="right" style="padding: 26px 40px 0;">
                        <img alt="MADII Logo" height="54" src="https://cdn.madii.kr/madii_logo_image.png" width="54">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
